
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: black;
    background-image: url('fonfo.jpg');
    background-size: cover; /* La imagen se ajusta sin deformarse */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que se repita */
    height: 100vh; /* Asegura que cubra toda la pantalla */
    width: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
}




.close-btn {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    background: red;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}



header {
    background-color: #000000;
    padding: 20px;
    font-size: 24px;
    color: white;
}

.banner {
    width: 100%;
    height: 300px;
    background: url('banner.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}


footer {
    width: 100%;
    padding: 20px;
    background-color: #000000;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    background: linear-gradient(135deg, #007bff, #0056b3);
    color: white;
    text-decoration: none;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    border: none;
    cursor: pointer;
}
.btn:hover {
    background: linear-gradient(135deg, #0056b3, #004095);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}
.btn:active {
    transform: scale(0.95);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.menu {
    display: none;
    background-color: rgba(51, 51, 51, 0.8);
    top: 100px;
    right: 0;
    width: 200px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}
.menu a {
    display: block;
    margin: 10px 0;
    padding: 12px;
    background: linear-gradient(135deg, #007bff, #0056b3);
    color: white;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.menu a:hover {
    background: linear-gradient(135deg, #0056b3, #004095);
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
